/* General */
html {
  color: #222;
  font: 20px 'Source Sans Pro', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
}

a {
  border-bottom: 2px solid;
  color: #444;
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.gitorial-header {
  color: black;
  font-family: Raleway, sans-serif
  font-weight: 300;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gitorial-header > strong {
  font-weight: 600;
}

.button {
  background-color: white;
  border: 3px solid #333;
  border-radius: 25px;
  moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  color: black;
  font-weight: 600;
  padding: 0.5rem;
}

#container {
  margin: 0 auto;
  max-width: 800px;
  min-height: 100%;
}

/* Home */
.home-page {
  padding-top: 2rem;
  text-align: center;
}

.home-page > header {
  font-size: 6rem;
}

.home-page > p {
  font-size: 1.5rem;
}

.instructions {
  list-style: none;
  margin: 1rem 0 3rem 0;
  overflow: auto;
  text-align: left;
}
.instructions > li {
  height: 100%;
  padding: 0.5rem 0;
  overflow: auto;
}
.instruction-label {
  float: left;
  font-weight: bold;
  text-align: right;
  width: 10%;
}
.instructions > li > p {
  float: right;
  margin: 0;
  width: 85%;
}

/* Profile */
.profile-page {
  position: relative;
}

.user-info {
  background-color: #EEE;
  float: left;
  height: 100%;
  padding: 0 0.25rem;
  position: fixed;
  text-align: center;
  width: 20%;
}
.user-info > header {
  font-size: 3.8rem;
  margin-bottom: 1rem;
  text-align: center;
}
.user-name {
  border: none;
  color: black;
  font-size: 2rem;
}
.avatar {
  display: block;
  margin: 0 auto;
  width: 200px;
}
.new-tutorial-button {
  display: block;
  font-size: 0.8rem;
  margin: 1rem auto;
  padding: 0.1rem;
  width: 75%;
}

.tutorials {
  float: right;
  width: 65%;
}
.tutorials > header {
  background-color: white;
  font-size: 4rem;
  font-weight: 500;
  padding-bottom: 1rem;
  position: fixed;
  width: 100%;
}
.tutorials > ul {
  list-style: none;
  margin: 4.5rem 0 1rem 0;
  padding: 0;
}
.tutorial-listing {
  display: block;
}
.tutorial-listing-title {
  color: #111;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Edit & View */
.edit-page, .view-page {
  position: relative;
}

.tutorial-header {
  display: inline-block;
  width: 100%;
}

.tutorial-header > .gitorial-header {
  float: left;
  font-size: 3rem;
}

.tutorial-header > span:last-child {
  display: inline-block;
  float: right;
  margin: 1rem 0 1rem 0;
  text-align: right;
}

.tutorial-header > span:last-child > .user-name {
  font-size: 1.5rem;
}

.tutorial-title {
  font-size: 4rem;
  font-weight: bold;
}

/* Edit */
input[type="text"], textarea {
  border: 1px dashed #BBB;
  width: 100%;
}

.tutorial-generate-button {
  display: block;
  font-size: 2rem;
  margin: 2rem auto;
  text-align: center;
  width: 300px;
}

/* View */
.tutorial-edit-button {
  border: none;
  float: right;
  font-size: 4rem;
}